<div class="contenedorForm"> 
    <h3>Vamos con unas preguntas para comenzar: </h3>   
    <form class="formulario">        
        <div class="form">            
            <label for="name">¿Nombre del protagonista?*</label>
            <input type="text" name="name" id="name" required/>
          </div>
          <div class="form">
            <label for="categoria">¿Sobre que quieres que trate tu historia?*</label>
            <select name="categoria" id="categoria">
              <option value="animales" selected>Animales</option>
              <option value="frutas">Frutas</option>
              <option value="otro">Otro</option>
            </select>
          </div>
          <input id="iniciar" class="clickeable" type="button" value="Iniciar Sesión" />
    </form>
    <span>Nota: los campos con * son obligatorios</span>
</div>
